@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FruitShop.ViewModels.StoreViewModel

<h2>Products List</h2>

<div class="table-responsive">
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var product in Model.Products)
      {
        <tr>
          <td>
            @Html.ActionLink(product.ProductName, "ProductView",new { id = product.ProductId })
          </td>
          <td>R @product.Price</td>
          <td>
            @Html.ActionLink("Add to Cart", "Add", "Cart", new { id = product.ProductId }, new { @class = "btn btn-primary btn-sm" })
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
