@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Welcome to Online Fruit Shop";
}

<h2>Welcome to Online Fruit Shop</h2>

<p>Here you can buy all sort of fresh fruits!</p>


